<section id="portfolio" class="section">
			<div class="container">
				<div class="row">
				<div class="col-md-5 col-sm-12">
					<h2 class="title">portfolio</h2>
				</div>
				<div class="col-md-7 col-sm-12">
					<ul class="filters">
						<li class="active"><a href="#">All</a></li>
						<li><a href="#">panorams</a></li>
						<li><a href="#">portraits</a></li>
						<li><a href="#">makro</a></li>
						<li><a href="#">journal</a></li>
					</ul>
				</div>
				</div>
				<div class="portfolioGrid">
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-1.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-2.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-1.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-4.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-5.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
					<div class="item col-md-3 col-sm-6 col-xs-12">
						<div class="img-hover">
							<a href="#">
								<img src="img/portfolio-6.jpg" alt="" class="img-responsive">
								<span class="hover">
									<img src="img/portfolio-plus.jpg" alt="">
								</span>
							</a>
						</div>
					</div>
										
				</div>
			</div>
		</section>