<section id="services" class="section">
			<div class="container">
				<h2 class="title">services</h2>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<img src="img/coffee.png" alt="coffee">
						<h3>coffee</h3>
						<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<img src="img/instant.png" alt="instant">
						<h3>instant</h3>
						<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<img src="img/serious.png" alt="serious">
						<h3>serious</h3>
						<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<img src="img/frame.png" alt="frame">
						<h3>frame</h3>
						<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
					</div>
				</div>
			</div>
		</section>